# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Database and Logs
agrovision-backend/*.db
agrovision-backend/*.log
agrovision-backend/*.json
!agrovision-backend/data.json
!agrovision-backend/logs.json

# Node/PM2
node_modules/
pm2/
out.log
error.log

# IDEs
.vscode/
.idea/
